body {
}

#header {
    color: #247BA0;
    text-align: center;
    font-size: 10px;
}

#nav {
    background-color:#247BA0;  /*#FF1654;*/
    padding: 5px;
}

ul {
    list-style-type: none;
}

li a {
    color: #F1FAEE;
    font-size: 30px;
    column-width: 5%;
}

li {
    display: inline;
    padding-left: 2px;
    column-width: 20px;
}

a {
    text-decoration: none;
    margin-left: 20px;
}

li a:hover {
    /*background-color: #F3FFBD;
    color: #FF1654;
    padding: 1%;*/
}



